/* Reset and basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  overflow-x: hidden;
}

/* Header styling */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4a90e2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
}

/* Main content styling */
.content {
  display: flex;
  flex-direction: column; /* Column layout for the main content */
  padding-top: 0px; /* Aligns with the header height */
  margin: 0 auto;
}

.side-by-side-container {
  display: flex;
  gap: 55px; /* Space between Physician Filter and Second Chart */
  margin-top: 0px;
  justify-content: space-between; /* Ensure they are spaced evenly */
}

.physician-list-container,
.second-chart-container {
  flex: 1; /* Allow both components to take equal space */
  margin-top: 20px;
}

/* Make sure the content adapts for smaller screens */
@media (max-width: 768px) {
  .side-by-side-container {
    flex-direction: column; /* Stack the components on smaller screens */
    gap: 10px;
  }

  .physician-list-container,
  .second-chart-container {
    max-width: 100%; /* Allow full width on mobile */
  }
}

/* KPI Section */
.kpi-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 6 equal columns */
  gap: 18px;
  margin-top: 60px;
  width: 95%;
}

.kpi {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin-left: 35px;
  margin-right: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}

.kpi h3 {
  font-size: 17px;
  color: #333;
}

.kpi p {
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
}

.pie-quarter-container{
  display: flex;
  flex-direction: column;
  gap: 55px; /* Space between Physician Filter and Second Chart */
  margin-top: 0px;
  justify-content: space-between; 
}
