.second-chart-container {
  margin-top: 10px;
  margin-right: 65x;
  padding: 20px;
  border-top: 2px solid #ccc;
  width: 700px;
}

.second-chart-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.second-chart-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800x;
  overflow-x: auto;
  margin-right: 35px;
}

.canvas-wrapper {
  width: 800%;
  overflow-x: auto;  /* This makes the canvas scrollable horizontally if it's too wide */
  height: 500px;
}

.second-chart-container canvas {
  width: 400%;  /* You can increase or decrease this as per your requirement */
  height: 100%;
  max-height: 500px;
  background-color: white;
}
